@tailwind base;
@tailwind components;
@tailwind utilities;

.font-roboto {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.placeholder-top::placeholder {
    transform: translateY(-100%);
  }

  .placeholder-lg::placeholder {
    @apply text-lg
  }